@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');


*{
    margin:0;
    padding:0;
    outline:none;
    border:none;
    text-decoration: none;
    list-style: none;
    font-family: 'Protest Riot', sans-serif;
    box-sizing: border-box;
}
.header{
    height:100vh;
    max-width:100%;
}

.header header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    background-color: blue;
    color:white;
    height:70px;
    font-size: 20px;
}
.header header .logo a{
    color:white;
}
.header header .navbar a{
    color:white;
    margin-left:10px;
}

.header header .account{
    display:flex;
    
}

.header header .account button{
    background-color:red;
    padding:1rem;
    margin-left:12px;
    color:white;
}
.about-us{
    height: 80vh;
    width: 100%;
    background: rgb(178, 81, 233);
}
.flex-container{
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}
.left .btn{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgb(178, 81, 233);
    background: transparent;
    font-weight: 500;
    cursor: pointer;
}
.right img{
    height: 300px;
    width: 300px;
}